[Unit]
Description=Checks battery level every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=battery.service

[Install]
WantedBy=timers.target
