[Unit]
Description=Sticky windows in Niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/niri-float-sticky
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
