include "input.kdl"
include "output.kdl"
include "binds.kdl"
include "windows.kdl"
include "layout.kdl"

// Autostart
// spawn-sh-at-startup "docker compose -f /srv/docker/docker-compose.yaml up -d"

// Theme
cursor {
    xcursor-theme "Dracula-cursors"
    xcursor-size 18
}

screenshot-path "~/pics/Screenshots/%Y-%m/%Y-%m-%d %H-%M-%S.png"

// No window decorations
prefer-no-csd

// Disable middle click paste
clipboard {
    disable-primary
}

// Disable startup hotkey-overlay
hotkey-overlay {
    skip-at-startup
}

// Focus app on clicking tray or notification
debug {
    honor-xdg-activation-with-invalid-serial
}

// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Optionally, disable the workspace shadows in the overview.
overview {
    workspace-shadow {
        off
    }
}
