workspace "browser"
workspace "dev"
workspace "media"
workspace "chat"

window-rule {
    match app-id=r#"^zen$"#
    open-on-workspace "browser"
    open-maximized true
}

window-rule {
    match app-id=r#"^brave$"#
    open-on-workspace "browser"
}

window-rule {
    match app-id=r#"^spotify$"#
    open-on-workspace "media"
    open-maximized true
}

window-rule {
    match app-id=r#"^feishin$"#
    open-on-workspace "media"
    open-maximized true
}

window-rule {
    match app-id=r#"^obsidian$"#
    open-on-workspace "dev"
}

window-rule {
    match app-id=r#"^BeeperTexts$"#
    open-on-workspace "chat"
}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="bottom-right"
}

